In [226]:
import pandas as pd
import matplotlib as plt
import numpy as np
df = pd.read_csv('health.csv', index_col=0)
df

,Age,Income,Gender,Education,Stress_Level,Exercise_Hours_Per_Week,Cholesterol_Level,Weight,Height,Blood_Pressure,Health_Status
0,50,3.093457e+06,Male,Bachelor's Degree,4.967887,16.632494,200.419036,70.917032,150.401537,125.568820,Excellent
1,44,5.545445e+06,Male,Bachelor's Degree,5.833649,13.255988,201.010046,70.669576,149.285349,125.603505,Fair
2,25,4.401808e+06,Male,Master's Degree,5.587946,11.144370,200.105258,67.464506,150.020695,127.093163,Excellent
3,41,4.606865e+06,Female,High School,6.271119,9.140268,199.648701,67.566598,150.360963,117.388100,Poor
4,24,6.956049e+06,Male,Bachelor's Degree,5.895226,9.775610,199.330152,79.601530,149.730525,114.163706,Fair
...,...,...,...,...,...,...,...,...,...,...,...
1995,22,2.072546e+06,Male,Master's Degree,5.356903,14.428793,200.696341,49.569958,150.114380,113.658773,Fair
1996,25,7.456909e+06,Female,Master's Degree,5.499054,5.349180,198.991264,73.592521,149.828511,107.860829,Excellent
1997,44,5.560391e+06,Male,PhD,7.034253,3.746812,200.576659,44.493272,150.587193,138.210854,Poor
1998,20,3.436759e+06,Male,Bachelor's Degree,5.690408,5.720289,200.206448,85.255918,150.825614,127.516222,Good
1999,51,3.343102e+06,Male,Bachelor's Degree,5.572117,11.885388,199.824527,85.934284,151.279954,130.788995,Poor

## 1. Descriptive statistics

1. Data type of each column

In [227]:
df.dtypes

Age                          int64
Income                     float64
Gender                      object
Education                   object
Stress_Level               float64
Exercise_Hours_Per_Week    float64
Cholesterol_Level          float64
Weight                     float64
Height                     float64
Blood_Pressure             float64
Health_Status               object
dtype: object

2. Mean of each numerical data column

In [228]:
print(f"Mean of Age column: {df['Age'].mean()}")
print(f"Mean of Income column: {df['Income'].mean()}")
print(f"Mean of Stress_Level column: {df['Stress_Level'].mean()}")
print(f"Mean of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].mean()}")
print(f"Mean of Cholesterol_Level column: {df['Cholesterol_Level'].mean()}")
print(f"Mean of Weight column: {df['Weight'].mean()}")
print(f"Mean of Height column: {df['Height'].mean()}")
print(f"Mean of Blood_Pressure column: {df['Blood_Pressure'].mean()}")

Mean of Age column: 39.4175
Mean of Income column: 4889928.319474319
Mean of Stress_Level column: 5.3569120065455555
Mean of Exercise_Hours_Per_Week column: 9.951841679993532
Mean of Cholesterol_Level column: 200.22319088556523
Mean of Weight column: 70.23435871505947
Mean of Height column: 150.73056490095638
Mean of Blood_Pressure column: 119.68243694519857

3. Median of each numerical data column

In [229]:
print(f"Median of Age column: {df['Age'].median()}")
print(f"Median of Income column: {df['Income'].median()}")
print(f"Median of Stress_Level column: {df['Stress_Level'].median()}")
print(f"Median of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].median()}")
print(f"Median of Cholesterol_Level column: {df['Cholesterol_Level'].median()}")
print(f"Median of Weight column: {df['Weight'].median()}")
print(f"Median of Height column: {df['Height'].median()}")
print(f"Median of Blood_Pressure column: {df['Blood_Pressure'].median()}")

Median of Age column: 39.0
Median of Income column: 4898900.675226251
Median of Stress_Level column: 5.351794512097912
Median of Exercise_Hours_Per_Week column: 9.927028040259284
Median of Cholesterol_Level column: 200.2215215611355
Median of Weight column: 70.3921249240397
Median of Height column: 150.6636188089309
Median of Blood_Pressure column: 119.93739629658657

4. Mode of each numerical data column

In [230]:
print(f"Mode of Age column: {df['Age'].mode().iloc[0]}")
print(f"Mode of Income column: {df['Income'].mode().iloc[0]}")
print(f"Mode of Stress_Level column: {df['Stress_Level'].mode().iloc[0]}")
print(f"Mode of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].mode().iloc[0]}")
print(f"Mode of Cholesterol_Level column: {df['Cholesterol_Level'].mode().iloc[0]}")
print(f"Mode of Weight column: {df['Weight'].mode().iloc[0]}")
print(f"Mode of Height column: {df['Height'].mode().iloc[0]}")
print(f"Mode of Blood_Pressure column: {df['Blood_Pressure'].mode().iloc[0]}")

Mode of Age column: 53
Mode of Income column: -1088986.5264049638
Mode of Stress_Level column: 2.5280566074548134
Mode of Exercise_Hours_Per_Week column: -4.499310499524835
Mode of Cholesterol_Level column: 196.91494770774705
Mode of Weight column: 32.5817576131084
Mode of Height column: 149.12459377317003
Mode of Blood_Pressure column: 0.0

5. Standard Deviation of each numerical data column

In [231]:
print(f"Standard deviation of Age column: {df['Age'].std()}")
print(f"Standard deviation of Income column: {df['Income'].std()}")
print(f"Standard deviation of Stress_Level column: {df['Stress_Level'].std()}")
print(f"Standard deviation of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].std()}")
print(f"Standard deviation of Cholesterol_Level column: {df['Cholesterol_Level'].std()}")
print(f"Standard deviation of Weight column: {df['Weight'].std()}")
print(f"Standard deviation of Height column: {df['Height'].std()}")
print(f"Standard deviation of Blood_Pressure column: {df['Blood_Pressure'].std()}")

Standard deviation of Age column: 11.560753403633772
Standard deviation of Income column: 2010795.0245210964
Standard deviation of Stress_Level column: 0.9170690832886778
Standard deviation of Exercise_Hours_Per_Week column: 4.9095733928560295
Standard deviation of Cholesterol_Level column: 0.9725937951705401
Standard deviation of Weight column: 10.174342847464978
Standard deviation of Height column: 0.6804431819678791
Standard deviation of Blood_Pressure column: 11.20141248818825

6. Variance of each numerical data column

In [232]:
print(f"Variance of Age column: {df['Age'].var()}")
print(f"Variance of Income column: {df['Income'].var()}")
print(f"Variance of Stress_Level column: {df['Stress_Level'].var()}")
print(f"Variance of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].var()}")
print(f"Variance of Cholesterol_Level column: {df['Cholesterol_Level'].var()}")
print(f"Variance of Weight column: {df['Weight'].var()}")
print(f"Variance of Height column: {df['Height'].var()}")
print(f"Variance of Blood_Pressure column: {df['Blood_Pressure'].var()}")

Variance of Age column: 133.65101925962983
Variance of Income column: 4043296630638.797
Variance of Stress_Level column: 0.8410157035239358
Variance of Exercise_Hours_Per_Week column: 24.10391089983986
Variance of Cholesterol_Level column: 0.9459386904042345
Variance of Weight column: 103.51725237776176
Variance of Height column: 0.46300292388657227
Variance of Blood_Pressure column: 125.47164173053969

7. Range of each numerical data column

In [233]:
def calculate_range(column):
    return column.max() - column.min()

print(f"Range of Age column: {calculate_range(df['Age'])}")
print(f"Range of Income column: {calculate_range(df['Income'])}")
print(f"Range of Stress_Level column: {calculate_range(df['Stress_Level'])}")
print(f"Range of Exercise_Hours_Per_Week column: {calculate_range(df['Exercise_Hours_Per_Week'])}")
print(f"Range of Cholesterol_Level column: {calculate_range(df['Cholesterol_Level'])}")
print(f"Range of Weight column: {calculate_range(df['Weight'])}")
print(f"Range of Height column: {calculate_range(df['Height'])}")
print(f"Range of Blood_Pressure column: {calculate_range(df['Blood_Pressure'])}")

Range of Age column: 39
Range of Income column: 13316478.756404964
Range of Stress_Level column: 6.053270562448125
Range of Exercise_Hours_Per_Week column: 31.315668966965315
Range of Cholesterol_Level column: 6.247387290013478
Range of Weight column: 77.02780441798873
Range of Height column: 4.745875175648223
Range of Blood_Pressure column: 200.95

8. Maximum entry value of each numerical data column

In [234]:
print(f"Maximum entry value of Age column: {df['Age'].max()}")
print(f"Maximum entry value of Income column: {df['Income'].max()}")
print(f"Maximum entry value of Stress_Level column: {df['Stress_Level'].max()}")
print(f"Maximum entry value of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].max()}")
print(f"Maximum entry value of Cholesterol_Level column: {df['Cholesterol_Level'].max()}")
print(f"Maximum entry value of Weight column: {df['Weight'].max()}")
print(f"Maximum entry value of Height column: {df['Height'].max()}")
print(f"Maximum entry value of Blood_Pressure column: {df['Blood_Pressure'].max()}")

Maximum entry value of Age column: 59
Maximum entry value of Income column: 12227492.23
Maximum entry value of Stress_Level column: 8.581327169902938
Maximum entry value of Exercise_Hours_Per_Week column: 26.81635846744048
Maximum entry value of Cholesterol_Level column: 203.16233499776052
Maximum entry value of Weight column: 109.60956203109714
Maximum entry value of Height column: 153.87046894881826
Maximum entry value of Blood_Pressure column: 200.95

9. Minimum entry value of each numerical data column

In [235]:
print(f"Minimum entry value of Age column: {df['Age'].min()}")
print(f"Minimum entry value of Income column: {df['Income'].min()}")
print(f"Minimum entry value of Stress_Level column: {df['Stress_Level'].min()}")
print(f"Minimum entry value of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].min()}")
print(f"Minimum entry value of Cholesterol_Level column: {df['Cholesterol_Level'].min()}")
print(f"Minimum entry value of Weight column: {df['Weight'].min()}")
print(f"Minimum entry value of Height column: {df['Height'].min()}")
print(f"Minimum entry value of Blood_Pressure column: {df['Blood_Pressure'].min()}")

Minimum entry value of Age column: 20
Minimum entry value of Income column: -1088986.5264049638
Minimum entry value of Stress_Level column: 2.5280566074548134
Minimum entry value of Exercise_Hours_Per_Week column: -4.499310499524835
Minimum entry value of Cholesterol_Level column: 196.91494770774705
Minimum entry value of Weight column: 32.5817576131084
Minimum entry value of Height column: 149.12459377317003
Minimum entry value of Blood_Pressure column: 0.0

10. Quartile of each numerical data column

In [236]:
def calculate_quartiles(column):
    q1 = column.quantile(0.25)
    q2 = column.quantile(0.50)
    q3 = column.quantile(0.75)
    return q1, q2, q3

age_quartiles = calculate_quartiles(df['Age'])
income_quartiles = calculate_quartiles(df['Income'])
stress_level_quartiles = calculate_quartiles(df['Stress_Level'])
Exercise_Hours_Per_Week_quartiles = calculate_quartiles(df['Exercise_Hours_Per_Week'])
cholesterol_level_quartiles = calculate_quartiles(df['Cholesterol_Level'])
weight_quartiles = calculate_quartiles(df['Weight'])
height_quartiles = calculate_quartiles(df['Height'])
blood_pressure_quartiles = calculate_quartiles(df['Blood_Pressure'])

print(f"Quartiles of Age column: Q1={age_quartiles[0]}, Q2={age_quartiles[1]}, Q3={age_quartiles[2]}")
print(f"Quartiles of Income column: Q1={income_quartiles[0]}, Q2={income_quartiles[1]}, Q3={income_quartiles[2]}")
print(f"Quartiles of Stress_Level column: Q1={stress_level_quartiles[0]}, Q2={stress_level_quartiles[1]}, Q3={stress_level_quartiles[2]}")
print(f"Quartiles of Exercise_Hours_Per_Week column: Q1={Exercise_Hours_Per_Week_quartiles[0]}, Q2={Exercise_Hours_Per_Week_quartiles[1]}, Q3={Exercise_Hours_Per_Week_quartiles[2]}")
print(f"Quartiles of Cholesterol_Level column: Q1={cholesterol_level_quartiles[0]}, Q2={cholesterol_level_quartiles[1]}, Q3={cholesterol_level_quartiles[2]}")
print(f"Quartiles of Weight column: Q1={weight_quartiles[0]}, Q2={weight_quartiles[1]}, Q3={weight_quartiles[2]}")
print(f"Quartiles of Height column: Q1={height_quartiles[0]}, Q2={height_quartiles[1]}, Q3={height_quartiles[2]}")
print(f"Quartiles of Blood_Pressure column: Q1={blood_pressure_quartiles[0]}, Q2={blood_pressure_quartiles[1]}, Q3={blood_pressure_quartiles[2]}")

Quartiles of Age column: Q1=30.0, Q2=39.0, Q3=49.25
Quartiles of Income column: Q1=3580713.61116128, Q2=4898900.675226251, Q3=6271595.199348878
Quartiles of Stress_Level column: Q1=4.737649604306655, Q2=5.351794512097912, Q3=6.003014057128098
Quartiles of Exercise_Hours_Per_Week column: Q1=6.654950792037015, Q2=9.927028040259284, Q3=13.232217894811951
Quartiles of Cholesterol_Level column: Q1=199.58197543206194, Q2=200.2215215611355, Q3=200.87364703352324
Quartiles of Weight column: Q1=63.65489435193639, Q2=70.3921249240397, Q3=76.89451154965107
Quartiles of Height column: Q1=150.24001940834705, Q2=150.6636188089309, Q3=151.1404889718494
Quartiles of Blood_Pressure column: Q1=113.04860174210515, Q2=119.93739629658657, Q3=126.60878115051709

11. IQR (Inter Quartile Range) of each numerical data column

In [237]:
def calculate_iqr(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    return q3 - q1

print(f"IQR of Age column: {calculate_iqr(df['Age'])}")
print(f"IQR of Income column: {calculate_iqr(df['Income'])}")
print(f"IQR of Stress_Level column: {calculate_iqr(df['Stress_Level'])}")
print(f"IQR of Exercise_Hours_Per_Week column: {calculate_iqr(df['Exercise_Hours_Per_Week'])}")
print(f"IQR of Cholesterol_Level column: {calculate_iqr(df['Cholesterol_Level'])}")
print(f"IQR of Weight column: {calculate_iqr(df['Weight'])}")
print(f"IQR of Height column: {calculate_iqr(df['Height'])}")
print(f"IQR of Blood_Pressure column: {calculate_iqr(df['Blood_Pressure'])}")

IQR of Age column: 19.25
IQR of Income column: 2690881.588187598
IQR of Stress_Level column: 1.2653644528214434
IQR of Exercise_Hours_Per_Week column: 6.577267102774936
IQR of Cholesterol_Level column: 1.291671601461303
IQR of Weight column: 13.23961719771468
IQR of Height column: 0.9004695635023552
IQR of Blood_Pressure column: 13.56017940841194

12. Skewness of each numerical data column

In [238]:
print(f"Skewness of Age column: {df['Age'].skew()}")
print(f"Skewness of Income column: {df['Income'].skew()}")
print(f"Skewness of Stress_Level column: {df['Stress_Level'].skew()}")
print(f"Skewness of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].skew()}")
print(f"Skewness of Cholesterol_Level column: {df['Cholesterol_Level'].skew()}")
print(f"Skewness of Weight column: {df['Weight'].skew()}")
print(f"Skewness of Height column: {df['Height'].skew()}")
print(f"Skewness of Blood_Pressure column: {df['Blood_Pressure'].skew()}")

Skewness of Age column: -0.005292021408066734
Skewness of Income column: -0.006350937045968082
Skewness of Stress_Level column: -0.012588479650887423
Skewness of Exercise_Hours_Per_Week column: 0.06102587702559557
Skewness of Cholesterol_Level column: -0.07212527215611748
Skewness of Weight column: -0.05760539541999351
Skewness of Height column: 0.6570758689702357
Skewness of Blood_Pressure column: -1.6267368699384914

13. Kurtosis of each numerical data column

In [239]:
print(f"Kurtosis of Age column: {df['Age'].kurt()}")
print(f"Kurtosis of Income column: {df['Income'].kurt()}")
print(f"Kurtosis of Stress_Level column: {df['Stress_Level'].kurt()}")
print(f"Kurtosis of Exercise_Hours_Per_Week column: {df['Exercise_Hours_Per_Week'].kurt()}")
print(f"Kurtosis of Cholesterol_Level column: {df['Cholesterol_Level'].kurt()}")
print(f"Kurtosis of Weight column: {df['Weight'].kurt()}")
print(f"Kurtosis of Height column: {df['Height'].kurt()}")
print(f"Kurtosis of Blood_Pressure column: {df['Blood_Pressure'].kurt()}")

Kurtosis of Age column: -1.2033917756655756
Kurtosis of Income column: -0.03156192513024303
Kurtosis of Stress_Level column: -0.12981747826301726
Kurtosis of Exercise_Hours_Per_Week column: 0.018318459396335474
Kurtosis of Cholesterol_Level column: 0.0057584411153630555
Kurtosis of Weight column: 0.12473186229548583
Kurtosis of Height column: 0.7081113517447069
Kurtosis of Blood_Pressure column: 18.838493575670412

14. Unique values and its proportion of each categorical data

In [240]:
def print_unique_values(column_name):
    unique_entries = df[column_name].value_counts()
    total_count = len(df[column_name])
    print(f"Unique {column_name} entry:")
    for entry, count in unique_entries.items():
        proportion = count / total_count
        print(f"{entry}: {count} ({proportion:.2%})")
    print()

print_unique_values('Gender')
print_unique_values('Education')
print_unique_values('Health_Status')

Unique Gender entry:
Female: 1011 (50.55%)
Male: 989 (49.45%)

Unique Education entry:
Bachelor's Degree: 940 (47.00%)
Master's Degree: 482 (24.10%)
High School: 271 (13.55%)
PhD: 247 (12.35%)
Other: 57 (2.85%)
undefined: 3 (0.15%)

Unique Health_Status entry:
Fair: 519 (25.95%)
Poor: 504 (25.20%)
Excellent: 503 (25.15%)
Good: 474 (23.70%)